---
import { Enveloppe } from "dpe-audit";
import PerformanceElement from "./PerformanceElement.astro";

interface Props {
    class?: string;
    baies: Array<Enveloppe.IBaie>;
}

const { baies, class: className = "" } = Astro.props;

const total = {
    sdep: baies.reduce((acc, item) => acc + (item.data?.sdep ?? 0), 0),
    dp: baies.reduce((acc, item) => acc + (item.data?.dp ?? 0), 0),
};

const data = baies
    .map((item) => {
        let description: string = item.description;

        if (item.vitrage?.type_vitrage) {
            description += item.vitrage.type_vitrage
                ? `\n${Enveloppe.Baie.typeVitrageToString(item.vitrage.type_vitrage)}`
                : `\nVitrage inconnu`;

            if (item.vitrage.nature_lame) {
                description += ` - ${Enveloppe.Baie.natureLameToString(item.vitrage.nature_lame)}`;
            }
            if (item.vitrage.epaisseur_lame) {
                description += ` - ${item.vitrage.epaisseur_lame} mm`;
            }
            if (item.vitrage.survitrage) {
                description += item.vitrage.survitrage.type_survitrage
                    ? `\n${Enveloppe.Baie.typeSurvitrageToString(
                          item.vitrage.survitrage.type_survitrage,
                      )}`
                    : `\nSurvitrage inconnu`;

                if (item.vitrage.survitrage.epaisseur_lame) {
                    description += ` - ${item.vitrage.survitrage.epaisseur_lame} mm`;
                }
            }
        }
        return {
            description: description,
            sdep: item.data?.sdep ?? null,
            u: item.data?.u ?? null,
            performance: item.data?.performance ?? null,
            dp: item.data?.dp ?? null,
            part: item.data?.dp ? (item.data.dp / total.dp) * 100 : null,
        };
    })
    .sort((a, b) => (a.dp && b.dp ? (a.dp > b.dp ? -1 : 1) : -1));
---

<table class={className}>
    <thead>
        <tr>
            <th>Description</th>
            <th>U</th>
            <th>SDEP</th>
            <th>DP</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            data.map((item) => (
                <tr>
                    <td>
                        {item.description.split("\n").map((line) => (
                            <p>{line}</p>
                        ))}
                    </td>
                    <td>
                        {item.performance && item.u ? (
                            <PerformanceElement
                                performance={item.performance}
                                texte={item.u.toFixed(2)}
                            />
                        ) : (
                            <span>-</span>
                        )}
                    </td>
                    <td>{item.sdep ? item.sdep.toFixed(2) : "-"}</td>
                    <td>{item.dp ? item.dp.toFixed(2) : "-"}</td>
                    <td>{item.part ? `${item.part.toFixed(2)} %` : "-"}</td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Total</td>
            <td>-</td>
            <td>{total.sdep.toFixed(2)}</td>
            <td>{total.dp.toFixed(2)}</td>
            <td>100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    th,
    td {
        text-align: center;
        white-space: nowrap;

        &:first-child {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }

    tbody td:last-child {
        font-weight: 600;
    }
</style>
