---
import { Enveloppe } from "dpe-audit";
import PerformanceElement from "./PerformanceElement.astro";

interface Props {
    class?: string;
    murs?: Array<Enveloppe.IMur>;
}

const { murs = [], class: className = "" } = Astro.props;

const total = {
    sdep: murs.reduce((acc, item) => acc + (item.data?.sdep ?? 0), 0),
    dp: murs.reduce((acc, item) => acc + (item.data?.dp ?? 0), 0),
};

const data = murs
    .map((item) => {
        let description: string = item.description;

        if (item.type_structure) {
            description += `\n${Enveloppe.Mur.typeStructureToString(item.type_structure)}`;

            if (item.epaisseur_structure) {
                description += ` - ${item.epaisseur_structure} mm`;
            }
        }
        if (item.type_doublage) {
            description += `\n${Enveloppe.Mur.typeDoublageToString(item.type_doublage)}`;
        }

        description += `\n${Enveloppe.isolationToString(item.isolation)}`;

        return {
            description: description,
            sdep: item.data?.sdep ?? null,
            u: item.data?.u ?? null,
            performance: item.data?.performance ?? null,
            dp: item.data?.dp ?? null,
            part: item.data?.dp ? (item.data.dp / total.dp) * 100 : null,
        };
    })
    .sort((a, b) => (a.dp && b.dp ? (a.dp > b.dp ? -1 : 1) : -1));
---

<table class={className}>
    <thead>
        <tr>
            <th>Description</th>
            <th>U</th>
            <th>SDEP</th>
            <th>DP</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            data.map((item) => (
                <tr>
                    <td>
                        {item.description.split("\n").map((line) => (
                            <p>{line}</p>
                        ))}
                    </td>
                    <td>
                        {item.performance && item.u ? (
                            <PerformanceElement
                                performance={item.performance}
                                texte={item.u.toFixed(2)}
                            />
                        ) : (
                            <span>-</span>
                        )}
                    </td>
                    <td>{item.sdep ? item.sdep.toFixed(2) : "-"}</td>
                    <td>{item.dp ? item.dp.toFixed(2) : "-"}</td>
                    <td>{item.part ? `${item.part.toFixed(2)} %` : "-"}</td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Total</td>
            <td>-</td>
            <td>{total.sdep.toFixed(2)}</td>
            <td>{total.dp.toFixed(2)}</td>
            <td>100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    th,
    td {
        text-align: center;
        white-space: nowrap;

        &:first-child {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }

    tbody td:last-child {
        font-weight: 600;
    }
</style>
