---
import { Common } from 'dpe-audit'
import Icon from "./IconUsage.astro";


interface Props {
    className?: string;
    consommations: Common.Consommation[];
    scenario?: Common.Scenario;
}

const {
    consommations,
    scenario = "conventionnel",
    className = "",
} = Astro.props;

const data = consommations.filter((item) => item.scenario === scenario);

const usages = [...new Set(data.map((item) => item.usage))];

const total = {
    cef: data.reduce((acc, item) => acc + item.cef, 0),
    cep: data.reduce((acc, item) => acc + item.cep, 0),
};

const tableData = usages
    .map((usage) => {
        const cef = data
            .filter((item) => item.usage === usage)
            .reduce((acc, item) => acc + item.cef, 0);

        const cep = data
            .filter((item) => item.usage === usage)
            .reduce((acc, item) => acc + item.cep, 0);

        const part = (cef / total.cef) * 100;

        return {
            usage: usage,
            cep: cep,
            cef: cef,
            part: part,
        };
    })
    .sort((a, b) => (a.cef > b.cef ? -1 : 1));
---

<table class={className}>
    <thead>
        <tr>
            <th class="text-left" colspan="2">Poste</th>
            <th>EP</th>
            <th>EF</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            tableData.map((item) => (
                <tr>
                    <td>
                        <Icon usage={item.usage} />
                    </td>
                    <td class="grow text-left whitespace-nowrap">
                        {Common.usageToString(item.usage)}
                    </td>
                    <td class="whitespace-nowrap">{Math.round(item.cef).toLocaleString()}</td>
                    <td class="whitespace-nowrap">{Math.round(item.cep).toLocaleString()}</td>
                    <td class="whitespace-nowrap font-semibold">{Math.round(item.part)} %</td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td class="text-left" colspan="2">Total</td>
            <td class="whitespace-nowrap">{Math.round(total.cef).toLocaleString()}</td>
            <td class="whitespace-nowrap">{Math.round(total.cep).toLocaleString()}</td>
            <td class="whitespace-nowrap">100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }
    th,
    td {
        text-align: center;

        &:first-child {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .grow {
        width: 100%;
    }
    .text-left {
        text-align: left;
    }
</style>
