---
import { Common } from "dpe-audit";
import Icon from "./IconEnergie.astro";

interface Props {
    class?: string;
    consommations: Common.Consommation[];
    scenario?: Common.Scenario;
}

const {
    consommations,
    scenario = "conventionnel",
    class: className = "",
} = Astro.props;

const data = consommations.filter((item) => item.scenario === scenario);

const energies = [...new Set(data.map((item) => item.energie))];

const total = {
    cef: data.reduce((acc, item) => acc + item.cef, 0),
    cep: data.reduce((acc, item) => acc + item.cep, 0),
};

const tableData = energies
    .map((energie) => {
        const cef = data
            .filter((item) => item.energie === energie)
            .reduce((acc, item) => acc + item.cef, 0);

        const cep = data
            .filter((item) => item.energie === energie)
            .reduce((acc, item) => acc + item.cep, 0);

        const part = (cef / total.cef) * 100;

        return {
            energie: energie,
            cep: cep,
            cef: cef,
            part: part,
        };
    })
    .sort((a, b) => (a.cef < b.cef ? -1 : 1));
---

<table class={className}>
    <thead>
        <tr>
            <th>Energie</th>
            <th>EP</th>
            <th>EF</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            tableData.map((item) => (
                <tr>
                    <td>
                        <Icon energie={item.energie} />
                        {Common.energieToString(item.energie)}
                    </td>
                    <td>{Math.round(item.cef).toLocaleString()}</td>
                    <td>{Math.round(item.cep).toLocaleString()}</td>
                    <td>{Math.round(item.part)} %</td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Total</td>
            <td>{Math.round(total.cef).toLocaleString()}</td>
            <td>{Math.round(total.cep).toLocaleString()}</td>
            <td>100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    th,
    td {
        text-align: center;
        white-space: nowrap;

        svg {
            display: inline-block;
            margin-right: 0.5rem;
        }

        &:first-child {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }

    tbody td:last-child {
        font-weight: 600;
    }
</style>
