---
import { Enveloppe } from "dpe-audit";

interface Props {
    className?: string;
    murs: Array<Enveloppe.MurWithData>;
}

const { murs, className = "" } = Astro.props;

const total = {
    sdep: murs.reduce((acc, item) => acc + item.data.sdep, 0),
    dp: murs.reduce((acc, item) => acc + item.data.dp, 0),
};

const data = murs
    .map((item) => {
        let description: string = item.description;

        if (item.type_structure) {
            description += `\n${Enveloppe.Mur.typeStructureToString(item.type_structure)}`;

            if (item.epaisseur_structure) {
                description += ` - ${item.epaisseur_structure} mm`;
            }
        }
        if (item.type_doublage) {
            description += `\n${Enveloppe.Mur.typeDoublageToString(item.type_doublage)}`;
        }

        description += `\n${Enveloppe.isolationToString(item.isolation)}`;

        return {
            description: description,
            part: (item.data.dp / total.dp) * 100,
            isolation: item.isolation,
            sdep: item.data.sdep,
            dp: item.data.dp,
            u: item.data.u,
            performance: item.data.performance,
        };
    })
    .sort((a, b) => (a.dp > b.dp ? -1 : 1));
---

<table class={className}>
    <thead>
        <tr>
            <th class="grow text-left">Description</th>
            <th>U</th>
            <th>SDEP</th>
            <th>DP</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            data.map((item) => (
                <tr>
                    <td class="grow text-left">
                        {item.description.split("\n").map((line) => (
                            <p>{line}</p>
                        ))}
                    </td>
                    <td data-performance={item.performance}>
                        <span class="whitespace-nowrap">
                            {item.u.toFixed(2)}
                        </span>
                    </td>
                    <td class="whitespace-nowrap">{item.sdep.toFixed(2)}</td>
                    <td class="whitespace-nowrap">{item.dp.toFixed(2)}</td>
                    <td class="whitespace-nowrap font-semibold">
                        {item.part.toFixed(2)} %
                    </td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td class="text-left whitespace-nowrap">Total</td>
            <td>-</td>
            <td class="whitespace-nowrap">{total.sdep.toFixed(2)}</td>
            <td class="whitespace-nowrap">{total.dp.toFixed(2)}</td>
            <td class="whitespace-nowrap">100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }
    td {
        span {
            padding: 0.3rem;
            font-weight: 600;
            color: #ffffff;
        }
        &[data-performance="tres_bonne"] span {
            background-color: #2caf85;
        }
        &[data-performance="bonne"] span {
            background-color: #a5cc74;
        }
        &[data-performance="moyenne"] span {
            background-color: #f49838;
        }
        &[data-performance="insuffisante"] span {
            background-color: #e52322;
        }
    }
    th,
    td {
        text-align: center;

        &:first-child {
            padding-left: 0;
            padding-right: 0;
        }
        p:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    .text-left {
        text-align: left;
    }
    .grow {
        width: 100%;
    }
</style>
