---
import { Enveloppe } from "dpe-audit";

interface Props {
    class?: string;
    ponts_thermiques: Array<Enveloppe.PontThermiqueWithData>;
}

const { ponts_thermiques, class: className = "" } = Astro.props;

const total = {
    longueur: ponts_thermiques.reduce((acc, item) => acc + item.longueur, 0),
    pt: ponts_thermiques.reduce((acc, item) => acc + item.data.pt, 0),
};

const data = ponts_thermiques
    .map((item) => {
        let description = `${Enveloppe.PontThermique.typeLiaisonToString(item.liaison.type_liaison)}`;
        description += `\n${item.description}`;

        return {
            description: description,
            longueur: item.longueur,
            kpt: item.data.kpt,
            pt: item.data.pt,
            part: (item.data.pt / total.pt) * 100,
        };
    })
    .sort((a, b) => (a.pt > b.pt ? -1 : 1));
---

<table class={className}>
    <thead>
        <tr>
            <th>Description</th>
            <th>Longueur</th>
            <th>K</th>
            <th>PT</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            data.map((item) => (
                <tr>
                    <td>
                        {item.description.split("\n").map((line) => (
                            <p>{line}</p>
                        ))}
                    </td>
                    <td>{item.longueur.toFixed(2)}</td>
                    <td>{item.kpt.toFixed(2)}</td>
                    <td>{item.pt.toFixed(2)}</td>
                    <td>{item.part.toFixed(2)} %</td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Total</td>
            <td>{total.longueur.toFixed(2)}</td>
            <td>-</td>
            <td>{total.pt.toFixed(2)}</td>
            <td>100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    th,
    td {
        text-align: center;
        white-space: nowrap;

        &:first-child {
            width: 100%;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
        }
    }

    tbody td:last-child {
        font-weight: 600;
    }
</style>
