---
import { PontThermique } from "../data/Enveloppe";

interface Props {
    className?: string;
    ponts_thermiques: Array<PontThermique.PontThermique>;
}

const { ponts_thermiques, className = "" } = Astro.props;

const total = {
    longueur: ponts_thermiques.reduce((acc, item) => acc + item.longueur, 0),
    pt: ponts_thermiques.reduce((acc, item) => acc + item.data.pt, 0),
};

const data = ponts_thermiques
    .map((item) => {
        return {
            description: PontThermique.toString(item),
            longueur: item.longueur,
            kpt: item.data.kpt,
            pt: item.data.pt,
            part: (item.data.pt / total.pt) * 100,
        };
    })
    .sort((a, b) => (a.pt > b.pt ? -1 : 1));
---

<table class={className}>
    <thead>
        <tr>
            <th class="grow text-left">Description</th>
            <th>Longueur</th>
            <th>K</th>
            <th>PT</th>
            <th>Part</th>
        </tr>
    </thead>

    <tbody>
        {
            data.map((item) => (
                <tr>
                    <td class="grow text-left">
                        {item.description.split("\n").map((line) => (
                            <p>{line}</p>
                        ))}
                    </td>
                    <td class="whitespace-nowrap">
                        {item.longueur.toFixed(2)}
                    </td>
                    <td class="whitespace-nowrap">{item.kpt.toFixed(2)}</td>
                    <td class="whitespace-nowrap">{item.pt.toFixed(2)}</td>
                    <td class="whitespace-nowrap font-semibold">
                        {item.part.toFixed(2)} %
                    </td>
                </tr>
            ))
        }
    </tbody>

    <tfoot>
        <tr>
            <td class="text-left whitespace-nowrap">Total</td>
            <td class="whitespace-nowrap">{total.longueur.toFixed(2)}</td>
            <td>-</td>
            <td class="whitespace-nowrap">{total.pt.toFixed(2)}</td>
            <td class="whitespace-nowrap">100 %</td>
        </tr>
    </tfoot>
</table>

<style>
    table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
        border-collapse: collapse;
    }
    td {
        span {
            padding: 0.3rem;
            font-weight: 600;
            color: #ffffff;
        }
        &[data-performance="tres_bonne"] span {
            background-color: #2caf85;
        }
        &[data-performance="bonne"] span {
            background-color: #a5cc74;
        }
        &[data-performance="moyenne"] span {
            background-color: #f49838;
        }
        &[data-performance="insuffisante"] span {
            background-color: #e52322;
        }
    }
    th,
    td {
        text-align: center;

        &:first-child {
            padding-left: 0;
            padding-right: 0;
        }
        p:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
    .text-left {
        text-align: left;
    }
    .grow {
        width: 100%;
    }
</style>
